body {
    margin: 0%;
    padding: 0%;
    display: grid;
    place-items: center;
    height: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Index Page Starts */


.WelcomeContainer {
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 10%;
    bottom: 50%;
    display: grid;
    place-items: center;
}

.WelcomeContainer li {
    list-style-type: none;
}

.Titlecard {
    font-family: 'Kanit', sans-serifs;
    font-weight: bolder;
    font-size: 4vw;
    text-align: center;

}

.Titlecard .GameName {
    font-size: 6vw;
}

.TossEntrance {
    margin-top: 20%;
    font-family: 'Roboto', sans-serif;
    ;

}


/* Welcome Page Ends */



/* Toss Page starts */


.TossArena .player1{
    width: 720px;
    height: 720px;
    background: url("assets/score-1.gif") no-repeat scroll 0% 0% transparent;
}

.TossArena .computer{
    width: 720px;
    height: 720px;
    background: url("assets/score-5.gif") no-repeat scroll 0% 0% transparent;

}

footer{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0%;
}






/* Toss Page ends */



/* Instruction Page Starts */



.FullInstructionPage {
    display: flex;
    flex-direction: row;
}



.instructionpannel {
    text-align: center;
    margin-top: 25px;
    width: 70%;
}

.instructionpannel h1 {
    font-family: 'Kanit', sans-serifs;
}



.instructionpannel .instructionlists {
    margin-top: 25px;
}

.FullInstructionPage .BacktoToss {
    width: 15%;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}


.FullInstructionPage .BacktoToss a {
    text-decoration: none;
    color: black;
}

.FullInstructionPage .EnterGame {
    align-self: center;
    margin-left: 10px;
    width: 15%;
    height: 25px;

}

.FullInstructionPage .EnterGame a{
    text-decoration: none;
    color: black;

}



/* Instruction Page Ends */